<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @breed.name %>
</p>

<div class="form-actions">
	<%= link_to 'Edit', edit_breed_path(@breed), :class => 'btn' %> |
	<%= link_to 'Back', breeds_path, :class => 'btn'  %>
</div>
